<script>
//centralizar paginacao
var a = $('.paginacao a').not('previous_page, next_page').length + 2;
var b = $('.paginacao a').not('previous_page, next_page').outerWidth(true);
var largura_total = (a * b) + 52;
$('.paginacao').width(largura_total);

$('.table th a, .paginacao a').on('click', function () {  
  $.get(this.href, $(this).serialize(), null, 'script');  
  return false;  
}); 

//desaparecer mensagem de erro, sucesso e alerta após 5s
setTimeout(function() {
  $("#conteudo #conteudoPrincipal span.msgSucesso, #conteudo #conteudoPrincipal span.msgErro, #conteudo #conteudoPrincipal span.msgAlerta").fadeOut("slow");
}, 5000);

$(function(){

	//esconder o loader e a máscara caso seja clicado no botão 'não' do modal
	$('body').on('click','button.ui-button:first-child', function() {
		$('span.loader').show();
        $('div.maskLoader').show();
	});
	
	//quando clicar na paginação, exibir loader
     $('.formAddNovo .btn.btn-info, .paginacao a, .table th a').click(function () {
        $('span.loader').show();
        $('div.maskLoader').show();
    });

});
$(document).ready(function(){
	$('.paginacao').show();
})
</script>

<%= hidden_field_tag :direction, params[:direction] %>  
<%= hidden_field_tag :sort, params[:sort] %> 

<div class="col-lg-12">
		<section class="panel">
			<table class="table table-hover">
				<thead>
					<tr>
				    	<th><%= sortable "nome", "Nome" %></td>
				        <th class="area"><%= sortable "area_id", "Área Pertencente" %></td>
				        <th class="data_inicio"><%= sortable "data_inicio", "Data Inicio" %></td>
				        <th class="data_fim"><%= sortable "data_fim", "Data Fim" %></td>
				        <th class="status"><%= sortable "status", "Status" %></td>    	
				        <th>Editar</td>
				        <th>Excluir</td>
					</tr>
				</thead>
				<tbody>
					<% @banners.each_with_index do |banner, index| %>
				      <tr class="<%= cycle("", "alternate") %>">
				        <td><%= banner.nome %></td>
				        <td class="area"><%area = Admin::Area.where('id = ?', banner.area_id) %><%= if area.length > 0; area[0].nome; else; '-'; end%></td>
				        <td class="data_inicio"><%= banner.data_inicio.try(:strftime, "%d/%m/%Y") %></td>
				        <td class="data_fim">
							<%= 
								if  banner.data_fim.blank? 
									"-"
								else
									banner.data_fim.try(:strftime, "%d/%m/%Y")  
							end %>
						</td>
				        <td class="status">
							<% case banner.status %>
							  <%when 0 then %>
							    <%= 'Não publicado' %>
							 <% else %>
							    <%= 'Publicado' %>
							<%end %>
						</td>
				        
						<% if index == 0 %>
							<td data-intro='Clicando aqui você poderá editar o banner.' data-step='5' style="width: 70px;">
							<% else %>
							<td style="width: 70px;">
						<%end %>
							
							<%= link_to(edit_admin_banner_path(banner)) do %>
								<i class="editar fa fa-edit"></i>
							<% end %>
						</td>
						
						<% if index == 0 %>
							<td data-intro='Aqui você irá excluir o banner, mas antes irá aparecer uma tela para confirmar a exclusão.' data-step='6' style="width: 70px;">
							<% else %>
							<td style="width: 70px;">
						<%end %>
							<%= button_to '', banner, method: :delete, 'data-confirm' => 'Tem certeza que deseja excluir esse banner?', :remote => true, :class => "excluir"  %><i class="fa fa-times"></i>
							
						</td>
				      </tr>
					  
				    <% end %>
				</tbody>
			</table>
		</section>	
</div>
	<% if @banners.count > 5 %>
		<div data-intro='Clique aqui para visualizar os outros banners que estão cadastrados e não estão sendo exibidos nesta tela.' data-step='7' data-position='top' class="divTour">
	<% else %>
		<div>
	<% end %>
	
	<%= will_paginate @banners,
    	:class => 'paginacao', 
		:previous_label => '<img src="/images/setaPaginacaoEsq.png"/>',
		:next_label => '<img src="/images/setaPaginacaoDir.png"/>' 
	%>       
</div>           

<script type="text/javascript">

    $('span.loader').hide();
    $('div.maskLoader').hide();

    $('.excluir').click(function(e){
    	if(!confirm('Realmente deseja excluir esse banner?')){
    		e.preventDefault();
    	}
    });

</script>