<%#= stylesheet_link_tag 'bootstrap-datepicker/css/datepicker' %>
<%#= stylesheet_link_tag 'bootstrap-colorpicker/css/colorpicker' %>
<%#= stylesheet_link_tag 'bootstrap-daterangepicker/daterangepicker' %>
<script>

//desaparecer mensagem de erro, sucesso e alerta após 5s
setTimeout(function() {
  $("#conteudo #conteudoPrincipal span.msgSucesso, #conteudo #conteudoPrincipal span.msgErro, #conteudo #conteudoPrincipal span.msgAlerta").fadeOut("slow");
}, 5000);

</script>

	<%= form_for(@novidade, :style => 'form-horizontal') do |f| %>
		
		<div class="form-group">
			<label for="novidade[titulo]" class="col-lg-2 col-sm-2 control-label">Título</label>
			<div class="col-lg-6 col-xs-11">
              	<%= f.text_field :titulo, :placeholder => "Título de exibição do novidade", :class => 'form-control' %>
          	</div>
			  
		</div>
		<div class="clearAll">&nbsp;</div>

		<div class="form-group">
			<label class="col-lg-2 col-sm-2 control-label">Preço</label>
			<div class="col-lg-2 col-xs-11">
              	<%= f.text_field :preco, :placeholder => "Preço do produto", :class => 'form-control' %>
          	</div>
		</div>
		<div class="clearAll">&nbsp;</div>

		<div class="form-group">
			<label class="col-lg-2 col-sm-2 control-label">Unidade</label>
			<div class="col-lg-5 col-xs-11">
              	<%= f.text_field :unidade, :placeholder => "Unidade do produto", :class => 'form-control' %>
          	</div>
		</div>
		<div class="clearAll">&nbsp;</div>

		<div class="form-group">
		    <label class="col-lg-2 col-sm-2 control-label">Categoria</label>
			<div class="col-lg-5">
				<%= f.select(:categoria, [['Novos Produtos', 'novos'],
			                       	   ['Lançamentos', 'lancamentos'],
			                           ['Conceitos', 'conceitos']], {}, { :class => 'form-control' } )%>
			</div>
       	</div>
		<div class="clearAll">&nbsp;</div>
		
		<div class="form-group">
		    <label class="col-lg-2 col-sm-2 control-label">Imagem interna</label>
		    <div class="col-lg-10">
		    	<% if @novidade.imagem.blank? %>
				 	<%= f.file_field :imagem, :class => 'form-control' %>
				<% else %>
				<div class="project-mask">
			        <div class="thumbnail">
						<%= image_tag("#{@novidade.imagem}", :class => 'imagemArea') %>
			            <div class="descricao">
							<%= link_to 'Excluir imagem', {:action => "excluiImagemNovidade"}, :id => @novidade.id, :class => 'btnConfirmarNovo btnCancelarNovo btnWidthFixo excluiImagemBanner btn btn-danger' %>	
			            </div>
			        </div>
			    </div>

				<% end %>
			</div>
	    </div>
		<div class="clearAll">&nbsp;</div>

		<div class="form-group">
		    <label class="col-lg-2 col-sm-2 control-label">Imagem listagem</label>
		    <div class="col-lg-10">
		    	<% if @novidade.imagem_listagem.blank? %>
				 	<%= f.file_field :imagem_listagem, :class => 'form-control' %>
				<% else %>
				<div class="project-mask">
			        <div class="thumbnail">
						<%= image_tag("#{@novidade.imagem_listagem}", :class => 'imagemArea') %>
			            <div class="descricao">
							<%= link_to 'Excluir imagem', {:action => "excluiImagemNovidadeListagem"}, :id => @novidade.id, :class => 'btnConfirmarNovo btnCancelarNovo btnWidthFixo excluiImagemBanner btn btn-danger' %>	
			            </div>
			        </div>
			    </div>

				<% end %>
			</div>
	    </div>
		<div class="clearAll">&nbsp;</div>

		<div class="form-group">
		    <label class="col-lg-2 col-sm-2 control-label">Data Início</label>
		    <div class="col-lg-4 col-xs-11">
			  	<div id="datetimepicker" class="input-group date form_datetime-component datePicker">
			  		<%= if @novidade.data_inicio.blank?
			        		f.text_field :data_inicio, :class=> 'form-control startdate', :size => '16', :value => Time.now.to_datetime.strftime("%d/%m/%Y")
			        	else
			        		f.text_field :data_inicio, :class=> 'form-control startdate', :size => '16', :value => @novidade.data_inicio.try(:strftime, '%d/%m/%Y')
			        	end
			        %>
			        <span class="input-group-btn">
			            <button type="button" class="btn btn-primary date-set"><i class="fa fa-calendar"></i></button>
			        </span>
			    </div>
			</div>
		</div>
		<div class="clearAll">&nbsp;</div>

	  	<div class="form-group">
		    <label class="col-lg-2 col-sm-2 control-label">Data Fim</label>
		    <div class="col-lg-4 col-xs-11">
			  	<div id="datetimepicker" class="input-group date form_datetime-component datePicker">

			        <%= if @novidade.data_fim.blank?
			        		f.text_field :data_fim, :class=> 'form-control enddate', :size => '16' 
			        	else
			        		f.text_field :data_fim, :class=> 'form-control enddate', :size => '16', :value => @novidade.data_fim.try(:strftime, '%d/%m/%Y')
			        	end
			        %>
			        <span class="input-group-btn">
			             <button type="button" class="btn btn-primary date-set"><i class="fa fa-calendar"></i></button>
			        </span>
			    </div>
			</div>
		</div>
		<div class="clearAll">&nbsp;</div>

		<div class="form-group">
			<label class="col-lg-2 col-sm-2 control-label">Sumário</label>
			<div class="col-lg-9 col-xs-11">
				<%= f.text_area(:sumario, :cols => 20, :rows => 6, :class=> 'form-control', :style=> 'max-width: 100%') %>
			</div>
		</div>
		<div class="clearAll">&nbsp;</div>

		<div class="form-group">
			<label class="col-lg-2 col-sm-2 control-label">Conteúdo</label>
			<div class="col-lg-12 col-xs-11">
				<%= f.cktext_area :conteudo, :class=> 'form_datetime-componentrol' %>
			</div>
		</div>
		<div class="clearAll">&nbsp;</div>

		<div class="divisaoBtnForm">
			<div class="botoesForm botoesFormSaveCancel">
				<%= link_to "Voltar", {:action => "index"}, :class => "btn btn-default" %>
				
				<%= f.submit 'Salvar', :class => 'btn btn-info' %>
			</div>
		</div>
		<%= f.hidden_field :id, :class=> 'form-control' %>
<% end %>

<script>

	$('.thumbnail').hover(function () {
	    $('.descricao', this).stop().animate({
	        bottom: 0
	    }, 200);
	}, function () {
	    $('.descricao', this).stop().animate({
	        bottom: '-100%'
	    }, 200);
	});

	$('.datePicker').datetimepicker({
        format: 'dd/MM/yyyy',
        language: 'pt-BR'
    })

    $("form").validate({
       rules: {
        'admin_novidade[titulo]': {
          required: true
        },
        'admin_novidade[data_fim]': {
            greaterThan: ["#admin_novidade_data_inicio"]
        }
      },
      messages: {
        'admin_novidade[nome]': {
         	required: "O nome da novidade é obrigatório."
     	},
     	'admin_novidade[data_fim]':
        { 
            greaterThan:"Data fim menor que data inicio."
        }
      }
  	});


	$.validator.addMethod("greaterThan", 
	function(value, element, params) {
		data_inicial = value.split('/')
        data_inicial = new Date(data_inicial[1]+'-'+data_inicial[0]+'-'+data_inicial[2])

        data_final = $(params).val().split('/')
        data_final = new Date(data_final[1]+'-'+data_final[0]+'-'+data_final[2])

	    if (!/Invalid|NaN/.test(data_inicial)) {
	        return data_inicial > data_final;
	    }

	    return  data_inicial > data_final; 
	},'Data início maior que data fim.');

	$(".enddate").rules('add', { greaterThan: ".startdate" });

</script>