<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	  <center>
	<table width="625px" border="0">
		<tr>
			<td colspan="3">
				<img src="http://delidelicia.handcom.com.br/images/website/form_contato.jpg" align="left">
			<td>
		</tr>

		<tr>
			<td width="20px"> </td>
			<td>
    			<p><font family="verdana" size="2">
    				<strong>Nome: </strong> <%= @nome %> <br />
					<strong>E-mail: </strong> <%= @email %><br />
					<strong>Telefone: </strong> <%= @telefone %><br />
					<strong>Bairro: </strong> <%= @bairro %><br />
					<strong>Cidade: </strong> <%= @cidade %><br />
					<strong>Sugestões: </strong><%= @sugestao %> <br /> 
					<strong>Receber Newsletter: </strong>
						<% if @newsletter == 'on' %>
							Sim
						<% else %>
							Não
						<% end %>
						<br /> 
				</font>
    			</p>
			</td>
			<td width="20px"> </td>
		</tr>
		<tr>
			<td colspan="3" height="60px" bgcolor="#f1f1f1">
				<p align="center"><font family="verdana" size="1">DeliDelícia</font></p>
			</td>
		</tr>
	</table>
		</center>
  </body>
</html>